body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 15px;
    margin: 5px;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    padding: 15px 15px 20px 0px;
    color: #282828;
}

#js-city-state {
    border-radius: 25px 0px 0px 25px;
    border: none;
    padding: 10px;
    padding-left: 15px;
    margin-right: -5px;
    width: 60%;
    background-color: 	#F0F0F0;
}
.js-submit {
    background-color: #00b000;
    color: white;
    padding: 10px;
    border: none;
    margin-left: 0px;
    border-radius: 0px 25px 25px 0px;
    width: 28%;
    font-weight: 600;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*Weather results*/

 li {
    list-style: none;
    background-color: 	#F0F0F0;
    padding: 5px;
    height: 100px;
    border-radius:10px;
}

#weather-results {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
}
.weather-div {
    display: inline-block;
    width: 20%;
    height: 100px;
    margin: 15px 2px 15px 2px;
    text-align: center;
    padding: 1px;
}
.result-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.result-weather h2 {
    font-size: 15px;
}

p .result-weather {
    font-size: 1px;
}

img {
    width: 32px;
    height: 22px;
}
.weather h2 {
    font-size: 15px;
    margin: 2px;
}
.weather-div p  {
    font-size: 10px;
    margin: 2px;
}

a {
    color:white;
    font-weight: 600;
    text-decoration: none;
}
button {
    width: 35%;
    background-color: #00b000;
    border-radius: 25px;
    padding: 8px;
    margin-left: 5px;
    margin-top: 8px;
}



.js-results {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.list-of-results {
    height: auto;
    background-color: #F0F0F0;
    border: none;
    margin: 8px;
    padding: 20px;
    border-radius:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-of-results p {
    margin: 5px;
    line-height: 22px;
    padding: 5px;
}
.list-of-results a {
    margin: 10px;
}
 .span {
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    line-height: 1.25;

}

h3 {
    font-size: 23px;
    font-weight: 600;
    margin-right: 50px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.length {
    font-size: 15px;
}

.title {
    font-weight: 600;
}

/*image for background of span */

.hidden {
    display: none;
}


/*for tablet */
@media screen and (min-width: 750px) {
    h1 {
        text-align: center;
    }
    form {
        text-align: center;
        margin-top: 20px;
    }
    #js-city-state {
        border-radius: 25px 0px 0px 25px;
        border: none;
        padding: 10px;
        padding-left: 15px;
        margin-right: -5px;
        width: 30%;
        background-color: 	#F0F0F0;
    }
    .js-submit {
        background-color: #00b000;
        color: white;
        padding: 10px;
        border: none;
        margin-left: 0px;
        border-radius: 0px 25px 25px 0px;
        width: 10%;
        font-weight: 600;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .weather-div {
        display: inline-block;
        width: 10%;
        height: 100px;
        margin: 15px 2px 15px 2px;
        text-align: center;
        padding: 1px;
    }
    .result-weather h2 {
        font-size: 15px;
    }

    p .result-weather {
        font-size: 1px;
    }

    img {
        width: 45px;
        height: 30px;
    }
    .weather h2 {
        font-size: 18px;
        margin: 2px;
    }
    .weather-div p  {
        font-size: 12px;
        margin: 2px;
    }
    #weather-results {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 10px;
        width: 100%;
    }
    .js-results {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-of-results {
        height: auto;
        background-color: #F0F0F0;
        border: none;
        margin: 10px;
        width: 30%;
        padding: 20px;
        border-radius:10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .hidden {
        display: none;
    }
    a {
        color:white;
        font-weight: 600;
        text-decoration: none;
    }
    button {
        width: 35%;
        background-color: #00b000;
        border-radius: 25px;
        padding: 8px;
        margin-left: 5px;
        margin-top: 8px;
    }
    .span {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        line-height: 1.25;

    }
}

/*for computer screen */
@media screen and (min-width: 1090px) {
    h1 {
        text-align: center;
    }
    form {
        text-align: center;
        margin-top: 20px;
    }
    #js-city-state {
        border-radius: 25px 0px 0px 25px;
        border: none;
        padding: 10px;
        padding-left: 15px;
        margin-right: -5px;
        width: 30%;
        background-color: 	#F0F0F0;
    }
    .js-submit {
        background-color: #00b000;
        color: white;
        padding: 10px;
        border: none;
        margin-left: 0px;
        border-radius: 0px 25px 25px 0px;
        width: 10%;
        font-weight: 600;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    .weather-div {
        display: inline-block;
        width: 10%;
        height: 100px;
        margin: 15px 2px 15px 2px;
        text-align: center;
        padding: 1px;
    }
    .result-weather h2 {
        font-size: 15px;
    }

    p .result-weather {
        font-size: 1px;
    }

    img {
        width: 45px;
        height: 30px;
    }
    .weather h2 {
        font-size: 18px;
        margin: 2px;
    }
    .weather-div p  {
        font-size: 12px;
        margin: 2px;
    }
    #weather-results {
        display: flex;
        justify-content: center;
        padding: 0px;
        margin: 10px;
        width: 100%;
    }
    .js-results {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-of-results {
        height: auto;
        background-color: #F0F0F0;
        border: none;
        margin: 10px;
        width: 24%;
        padding: 20px;
        border-radius:10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .span {
        display: flex;
        justify-content: baseline;
        align-items: baseline;
        width: 100%;
        height: auto;
        margin-bottom: 5px;
        line-height: 1.25;

    }
    .hidden {
        display: none;
    }
    a {
        color:white;
        font-weight: 600;
        text-decoration: none;
    }
    button {
        width: 35%;
        background-color: #00b000;
        border-radius: 25px;
        padding: 8px;
        margin-left: 5px;
        margin-top: 8px;
    }
}